<h1>Burgers!</h1>

<h2>Burgers yet to be Devoured!</h2>

<ul>
    {{#each burgers}} {{#unless devour}} {{name}} <button class ="devour" data-id={{id}}>DEVOUR!</button> {{/unless}} {{/each}}

</ul>

<h2>Burgers that have been Devoured!</h2>

<ul>
    {{#each burgers}} {{#if devour}} {{name}} {{/if}} {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form" action="/api/burgers" method="POST">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" name="name" id="ca">
    </div>
    <button type="submit">Add Burger!</button>
</form>